@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        大家 @ViewBag.Hour 
        <p>我们要开个激动人心的Party！<br/>
        <img src="~/Image/Home/Party.jpg" />
        </p>
        @Html.ActionLink("现在报名","Rsvpform")
    </div>
</body>
</html>
